<div
    class="surface-card flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden roboto-font">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width: 60%">
        <div class="surface-card w-full lg:w-5">
            <div class="text-left mb-5">
                <label for="password1" class="block text-900 font-medium">Welcome back</label>
                <div class="text-900 text-4xl font-medium">
                    <span class="black-font"><strong>Login to your account</strong></span>
                </div>

                <div *ngIf="declined" class="alert alert-danger" role="alert">
                    <p-messages [(value)]="msg" [enableService]="false"></p-messages>
                </div>
            </div>


            <form class="" [formGroup]="loginForm">
                <div>
                    <label for="email1" class="block text-900 font-medium mb-2">Email</label>
                    <input id="login_username" formControlName="username" placeholder="Login Username" type="text"
                        pInputText class="w-full mb-3" />

                    <label for="password1" class="block text-900 font-medium mb-2">Password</label>
                    <input id="login_password" placeholder="Password" formControlName="password" type="password"
                        pInputText class="w-full mb-3" />

                    <div class="flex align-items-center justify-content-between mb-6">
                        <div class="flex align-items-center">
                            <a class="font-medium no-underline ml-2 grey-font text-right cursor-pointer"
                                routerLink="/auth/register"><strong>Back to
                                    Register</strong></a>
                        </div>
                        <a class="font-medium no-underline ml-2 grey-font text-right cursor-pointer"
                            routerLink="/auth/forgot-password"><strong>Forgot
                                password?</strong></a>
                    </div>

                    <button (click)="doLogin()" pButton pRipple label="Login now"
                        class="w-full mb-3 green-white-btn p-button-secondary"></button>
                </div>
            </form>
        </div>
    </div>
</div>