<div>
  <div class="layout-topbar px-2 md:px-4 lg:px-6">
    <div class="flex justify-content-end align-items-center px-2 md:px-4 lg:px-6">
      <p-avatar image="assets/images/logo/logo.jpeg" styleClass="flex align-items-center justify-content-center mr-2"
        size="xlarge" />
      <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
      </button>
    </div>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
      (click)="layoutService.showProfileSidebar()">
      <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }">
      <span class="mr-4 p-link text-800"><i class="pi pi-search" style="font-size: 17px; padding-top: 4px;"></i></span>
      <span (click)="op.toggle($event)" class="mr-4 p-link text-800"><i class="pi pi-bell"
          style="font-size: 17px; padding-top: 4px;"></i></span>
      <p-overlayPanel #op [showCloseIcon]="false" [style]="{ width: '450px' }" styleClass="shadow-5 mt-5">
        <ng-template pTemplate>
          <p-table [value]="notificationItems()" selectionMode="single" [(selection)]="selectedNotification"
            (onNotificationSelect)="onNotificationSelect($event)" [rows]="10" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th><strong>NOTIFICATIONS</strong></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-notificationItem>
              <tr routerLink="{{ notificationItem.routerLink }}" [pSelectableRow]="rowData">
                <td>
                  <p class="text-500 mt-0 pt-0">
                    <small>{{ notificationItem.content }}</small>
                  </p>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <button pButton pRipple label="Clear all notifications"
            class="w-full p-button-raised p-button-secondary"></button>
        </ng-template>
      </p-overlayPanel>
      <p-menu #NotificationMenu [popup]="true" [model]="[]"></p-menu>
      <ng-container>
        <p-chip [label]="name()" image="../../../assets/demo/images/avatar/xuxuefeng.png" styleClass="mr-2">
        </p-chip>
      </ng-container>

      <button class="p-link" (click)="menu.toggle($event)">
        <i class="pi pi-chevron-down"></i></button><p-menu styleClass="p-2" #menu [popup]="true"
        [model]="items"></p-menu>
    </div>
  </div>
</div>
